<div class= "title">RACES</div>
<div class= "info">
	{{#if restart}}
		<div class="results">Your time: {{time}} s</div>
	{{/if}}
	<div class="bestTime">Your best time: {{best_time}} s</div>
</div>
<div class='btn-start'><div>START NEW GAME</div></div>